
<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h1>Login</h1>
     <% if params[:user_errors] %>
    <div class="alert alert-danger"><%= params[:user_errors] %></div>
    <% end %>
      <%= form_tag '/login' do %>
      <div class="form-group">
        <div>Email</div>
         <%= text_field_tag :email, nil, class: 'form-control'  %>
        </div>
        <div class="form-group">
        <div>Password</div> 
        <%= password_field_tag :password, nil, class: 'form-control' %>
        </div>
        <%= submit_tag "Submit", class: 'btn btn-primary' %>
      <% end %>
    <p>Don't have an account? <%= link_to 'Sign Up ', :signup %></p>
  </div>
</div>
