
<div class="row">
  <div class="col-sm-6 col-sm-offset-1">
    <h1>Sign up</h1>
    <% if params[:user_errors] %>
      <div class="alert alert-danger"><%= params[:user_errors].first %></div>
      <% end %>
      <%= form_for :user, url: '/users' do |form| %>
      <div class="form-group">
        <div class="form-group">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: 'form-control' %>
        </div>

      <div class="form-group">
        <div class="form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_area :email, class: 'form-control' %>

        </div>

        <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>
      <%= form.submit "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>